*{ /* 전체 기본 설정 - 여백 제거 */
    padding: 0;
    margin: 0;
}

body { /* 전체 페이지 기본 레이아웃 설정 */
    min-height: 100vh;
    font-family: -apple-system sans-serif;
    display: flex;
    padding-bottom: 80px;
    flex-direction: column;
}

/* header 부분 */

header { /* 헤더 스타일 */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    z-index: 99;
}

header a { /* 헤더 안의 링크 스타일 */
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
}

header h1 { /* 헤더 제목 아래로 내려줌 */
    position: relative;
    bottom: -5px;
}

/* nav 부분 */

nav { /* 하단 고정 내비게이션 바 */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    padding: 10px;
    background-color: white;
    border-top: 1px solid rgba(0,0,0,0.05);
}

nav ul{ /* 내비게이션 내부 리스트 */
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}

nav li { /* 메뉴 항목 */
    cursor: pointer;
    font-size: 14px;
    color: rgba(0,0,0,0.6);
}

nav li a { /* 메뉴 링크 스타일 */
    color: rgba(0,0,0,0.6);
    transition: color .05s ease-in-out;
    text-decoration: none;
}

nav li:hover { /* 마우스 올리면 색깔 바뀜 */
    color: rgba(0,0,0,0.4);
}

nav li a:hover { /* 마우스 올리면 색깔 바뀜 */
    color: rgba(0,0,0,0.4);
}

.logo { /* 로고 이미지 크기 */
    height: 60px;
}

#home-button { /* 홈 버튼 아이콘 스타일 */
    margin: 0 10px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 50%;
    padding: 10px;
    height: 50px;
    aspect-ratio: 1 / 1;
    transition: transform .2s ease-in-out;
}

#home-button:hover { /* 홈 버튼 hover 효과 */
    transform: translateY(-3px);
}

#home-button img { /* 홈 버튼 안의 이미지 */
    height: 80%;
    transition: scale .2s ease-in-out;
}

#home-button:hover img { /* 이미지 hover 시 확대 효과 */
    scale: 1.2;
}

#home-button a { /* 홈 버튼 내부 링크 정렬 */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 팝업 스타일 */
iframe { /* iframe 팝업 위치 및 크기 설정 */
    position: fixed;
    left: 10vw;
    top: 10vh;
    max-height: 300px;
    height: 100%;
    max-width: 500px;
    width: 80vw;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 20px;
}
/* 하단 바 스타일 */
footer { /* 하단 푸터 영역 스타일 */
    background-color: #333;
    height: 100px;
    color: white;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer ul { /* 푸터 안의 리스트 정렬 */
    display: flex;
    gap: 10px;
    list-style: none;
}

footer ul li { /* 푸터 항목에 마우스 커서를 올렸을 때 */
    cursor: pointer;
}

footer ul li:first-child { /* 첫 번째 항목 강조 */
    font-weight: bold;
}