#login-box {
    background-color: white;
    border-radius: 15px;
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#icon-box {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-left: -30px;
    
}

body {
    background-color: lightgray;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text-git-id {
    font-size: 13px;
    font-weight: 600;
    align-self: flex-start;
    margin-left: 27px; 
    margin-top: 20px;
    margin-bottom: -15px;
}
#input-id {
    width: 100%;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#input-id > input {
    align-self: center;
    width: 240px;
    height: 20px;
    border-radius: 2px;
    outline: 0;
    border: 1px solid rgba(0,0,0,0.4);
    padding: 3px 5px;
}

form {
    width: 100%; 

}

#input-id > button {
    align-self: center;
    margin-top: 5px;
    width: 220px;
    height: 25px;
    background-color: black;
    font-size: 10px;
    font-weight: 600;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#close {
    text-decoration: none;
    font-weight: 600;
    color: rgb(93, 93, 93);
    font-size: 12px;
    cursor: pointer;
    background: none;
    border: none;
}

#close-box {
    margin-top: 20px;
    margin-left: 10px;
}