main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px - 93px);
}

.ranking-table {
    width: 90%;
    /* max-width: ; */
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.ranking-table th, .ranking-table td {
    padding: 12px 16px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.ranking-table th {
    background-color: #f0f0f0;
}

.ranking-table tr:hover {
    background-color: #f5f5f5;
}

.rank-num {
    font-weight: bold;
}

.username {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.tier {
    color: #b48de3;
    font-weight: bold;
}

.solved {
    color: #555;
}

.icon {
    width: 20px;
    height: 20px;
    background-color: #eee;
    border-radius: 50%;
    display: inline-block;
    }